.Collapsible{
  width: 100%;
}
.Collapsible__contentInner {
  font-weight: 300;
  padding: 10px;
  border-top: 1px solid darkslategrey;
}

.Collapsible__trigger {
  position: relative;
  color: black;
  display: block;
  font-weight: 500;
  opacity: .8;
  padding: 10px;
  &:after{
    border-radius: 50%;
    content: url(../../img/caret-down-solid.svg);
    position: absolute;
    right: 10px;
    width: 17px;
    top: 7px;
    display: block;
    transition: transform 300ms;
    opacity: 1;
      transform-origin: 50% 40%;
  }
  &.is-open{
    &:after{
      transform: rotateZ(180deg);
      
    }
  }
}