.btn {
  font-size: 0.85rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: white;
  padding: 0.25rem 1.5rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
  box-shadow: $drop-shadow;
  @media screen and (min-width: $screen-md) {
    font-size: 1rem;
    padding: 0.25rem 1.75rem;
  }

  &:hover {
    color: gold;
  }

  &-green {
    @extend .btn;
    background: $btn-green;
  }

  &-brown {
    @extend .btn;
    background: $btn-brown;
  }
}

.form-btn {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.75rem 3rem;
  border: 0;
  background: $btn-green;
  box-shadow: $drop-shadow-alt;
  opacity: 1;
  transition: all 0.25s;
  &:hover {
    background: darken($btn-green, 5%);
  }
}
