.site-footer {
  background: #CEA76B;
  .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 100%;
  .footer-logo {
    width: 285px;
    margin-bottom: 1rem;
    @media screen and (min-width: $screen-md){
      width: 325px;
    }
  }
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: .75rem;
  li {
    margin-right: .25rem;
    &:last-of-type {margin-right: 0;}
  }
}

.social-icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
}