.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  @media screen and (min-width: $screen-md) {
    position: relative;
  }

  padding-top: 0.5rem;
  // background: $nait-blue-dk;
  // background: $nait-header;
  // border-top: 2px solid $nait-black;
  // border-bottom: 2px solid $nait-black;
  box-shadow: 0 0 4px grey;
  width: 100%;
  margin-bottom: 0.5rem;

  h1 {
    font-size: 2.369em;
    color: #333;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
  }

  .branding {
    display: flex;
    align-items: center;
  }

  .header-logo {
    width: 85px;
    margin-right: 1rem;
  }
}

.dd-nav {
  text-align: right;
  @media screen and (min-width: $screen-md) {
    display: none;
  }

  .dd-list {
    padding: 0.5rem 1rem;
    font-size: 1.75rem;
    background: rgba(201, 201, 201, 0.801);
    position: absolute;
    top: 102px;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: papayawhip;
    }
  }
}

.list-nav {
  .list-view {
    display: none;
    font-size: 1.25rem;
    @media screen and (min-width: $screen-md) {
      display: flex;
    }

    a {
      color: #333;
      text-decoration: none;
      &:hover {
        color: #333;
        text-decoration: underline;
      }
    }

    li {
      margin-right: 1rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
