
.home-intro {
  // padding-top: rem;
  margin-top: .75rem;
  width: 100%;
  p {
    margin-bottom: 0;
  }
  .intro-text {
    margin-bottom: 1.5rem;
  }
  @media screen and (min-width: $screen-lg){
    position: relative;

    .intro-content {
      h3 {
        margin-top: .75rem;
      }
      position: absolute;
      top: 2%;
      right:8px;
      width: 50%;
      background: rgba(245, 245, 245, 0.692);
      padding: 1rem 1rem;
      border-radius: 4px;
    }
  }

  @media screen and (min-width: $screen-xl){
    
    .intro-content {
      top: 12%;
      right: 8px;
    }
  }
}

.action-btns {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $screen-lg){
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-around;
  }

  .btn-home {
    margin-right: .5rem;
    &:last-of-type{
      margin-right: 0;
    }
  }
  
}

.news {
  h2 {
    font-size: 1.75rem;
  }
}

.home-slider {
  margin: 0 auto;
  max-width: 85%;
  padding-bottom: 3rem;
  @media screen and (min-width: 576px){
    max-width: 100%;
    
  }
}