.product-page {
  @media screen and (min-width:$screen-md ){
    display: flex;
    justify-content: space-between;
  }
  .product-info-container {
  }
  h1 {
    font-size: 2.441em;
    margin: 0;
    margin-bottom: .5rem;
    padding: 0 .5rem;
  }
  h2{
    font-family: $font-body;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding: 0 .5rem;
  }

  .product-genre {
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 300;
    padding: 0 .5rem;
  }
  .product-media {
    position: relative;
  }
  .product-img {
    border: 1px solid #666666;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all .3s cubic-bezier(.25,.8, .25, 1);
    width: auto;
    margin-bottom: .5rem;
    height: 100%;
    &:hover {
      box-shadow: 0 8px 15px rgba(0,0,0,0.25), 0 6px 12px rgba(0,0,0,0.22);
      .btn-media {
        color: rgba(255, 255, 255, 0.849);
      }
    }
    img {
      height: 100%;
      width: auto;
    }
  }
  .btn-media {
    transition: all .2s;
    position: absolute;
    bottom: 35%;
    left: 37%;
    color: rgba(190, 190, 190, 0.616);
  }

  .product-details {
    margin-bottom: .25rem;
  }
  .product-condition {
    padding: 0 .5rem;
    margin: 0;
  }

  .product-local-status {
    padding: 0 .5rem;
    margin-bottom: 0;
  }

  .product-content{
    align-self: center;
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;

    border-radius: 3px;
    background: #e2e2e2b4;
    padding: .5rem .5rem;
    margin-bottom: .5rem;
    @media screen and (min-width: $screen-md){
      margin-top: 6rem;
    }
    a {
      margin: 0 auto;
    }
  }

  .tag-list {
    display: flex;
    span {
      font-weight: 700;
      margin-right: 1ch;
    }
    li {
      margin-right: 1ch;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }

}