@import "init";
@import "mixins";
@import "typography";
@import "variables";
@import "containers";
@import "utility";

@import "components/accordion";
@import "components/buttons";
@import "components/drop-nav";
@import "components/footer";
@import "components/header";
@import "components/links";
@import "components/product-square";

@import "pages/home";
@import "pages/discover";
@import "pages/product";
@import "pages/contact";
@import "pages/trade";
@import "pages/locations";
@import "pages/404";



.site-header {
  background-image: url(../../img/header-bg.png), linear-gradient(rgb(88, 85, 83), sandybrown);
  background-size: cover;
  z-index: 99;
}

.secret-h1 {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  font-size: 2px;
}

body {
  overflow-x: hidden;
  width: 100%;
}
main {
  // padding: 1rem 0;
  min-height: 90vh;
  margin: 105px auto 0 auto;
  padding: 1rem 0 2.5rem 0;

  // background-image: url(../../img/stripes-2x.png),
  //   linear-gradient(140deg, rgba(253, 230, 187, .97), rgba(213,181,131,.97)),
  //   url(../../img/nasty.png);
  // background-repeat: no-repeat,
  //   no-repeat;
  // background-position: center, left;
  // background-size: 10% 100%, auto, cover;

  @media screen and (min-width: $screen-md) {
    margin-top: 0;
  // background-size: 100% 100%, auto, 100% 100%;
  }
}